
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
html{
    height: 100%;
}
body{
    margin: 0 auto;
    font-size: 1.125rem;
    position: relative;
    height: 100%;
    background-color: #F3F4F2;
    
}
main {
    padding:0 2rem;
}
header{
    height: 9.25rem;
    background: #2C363F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F2F5EA;
    background-image:
    linear-gradient(90deg, rgba(61,69,149,0.8463760504201681) 14%, rgba(101,197,228,.8) 89%),
    url('../landing.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
}
.addNewBook{
    display: block;
    height: auto;
    width: 12rem;
    height: 6rem;
    margin: 0 auto;
    background-color: #2A75C7 ;
    border: #2A75C7 solid 4px;
    border-radius: 5px;
    padding: 0;
    color: white;
    font-size: 1.5rem;
}
.addNewBook:hover{
    background-color: #f3f4f3;
    color:#2A75C7;
}
.book-section{
    width: 100%;
  
}
h2{
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
    color: #2A75C7;
}

.book-container{
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-gap: 1.25rem;
}
.book-card{
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px hsl(208, 18%, 21%);
    background-color: #eaeef5;
    padding: 1rem 0;
    border-radius: 5px;
    margin: .5rem .5rem;
    
}
.book-card > h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    color:rgba(13, 21, 109, 1);
    font-size: 1.5rem;
}
.book-card >p{
    margin: .5rem 0;
    color:rgba(13, 21, 109, 1);
    font-size: 1.2rem;
}
.check-con{
    margin: .5rem 0;
}
.book-button-con{
    margin: .5rem 0;
}
.book-button-con > button{
    display: block;
    height: auto;
    width: 110%;
    height: 3rem;
    margin: 0 auto;
    background-color: #2A75C7 ;
    border: #2A75C7 solid 4px;
    border-radius: 5px;
    padding: 0;
    color: white;
    font-size: 1.5rem;
}
/* Modal */

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(13, 21, 109, .4);
        display: none;
        z-index: 1;
        width: 100%;
        height: 100%;
        }
        .modal {
            width: 300px;
            height: 500px;
            margin: 10% auto auto;
            position: relative;
            text-align: center;
            background: #F3F4F2;
            border: 1px solid #778;
            border-radius: 5px;
            padding: 30px 20px;
            z-index: 1;
            }
            .modal-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                text-align: center;
            }
            /* Text fields */
            .textinput input{
                display: flex;
                width: 95%;
                height: 3rem;
                font-size: 1.125rem;
                padding-left: .5rem;
                background-color: whitesmoke;
                border: none;
                transition: all .5s ease-out;
                margin: .5rem;
                flex: 1;
                border:rgba(13, 21, 109, 1) solid 1px;
                border-radius: 5px;
                }
            .textinput{
                margin-bottom: 1.5rem;
            }
            input::placeholder {
                font-style: italic;
            }
            .modal-close {
                position: absolute;
                right: 15px;
                top: 5px;
                cursor: pointer;
                background: none;
                border: red solid 1px;
                width: 2.5rem;
                height: 2.5rem;
                color: red;
                }
                /* modal buttons */
                .prev,
                .next {
                  cursor: pointer;
                  position: absolute;
                  top: 50%;
                  width: auto;
                  padding: 16px;
                  margin-top: -50px;
                  color: white;
                  font-weight: bold;
                  font-size: 36px;
                  transition: 0.6s ease;
                  border-radius: 0 3px 3px 0;
                  user-select: none;
                  -webkit-user-select: none;
                }
                .button-con{
                    display: flex;
                    margin: 1rem 0;
          
                }
                .addBook{
                    display: block;
                    height: auto;
                    width: 10rem;
                    height: 3rem;
                    margin: 0 auto;
                    background-color: #2A75C7 ;
                    border: #2A75C7 solid 4px;
                    border-radius: 5px;
                    color: white;
                    font-size: 1.5rem;
                }
                .addBook:hover{
                    background-color: #F3F4F2;
                    color:#2A75C7;
                }
                .reset{
                    display: block;
                    height: auto;
                    width: 10rem;
                    height: 3rem;
                    margin: 0 auto;
                    background-color: #2A75C7 ;
                    border: #2A75C7 solid 4px;
                    border-radius: 5px;
                    color: white;
                    font-size: 1.5rem;
                }
                .reset:hover{
                    background-color: #F3F4F2;
                    color: #2A75C7;
                }
             
 
@media (min-width: 768px){
    .book-container{
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
        grid-gap: 1.25rem;
    }

}

.modal{
    width: 400px;
    height: 500px;
}